.contact-list__loading, .contact-list__error {
  margin-top: 30px;
  text-align: center;
}

.contact-list {
  margin-top: 30px;
}

.contact-list ul {
  list-style: none;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
}

.contact-list li {
  border-top: 1px solid #ccc;
  padding: 10px 15px;
  display: flex;
}

.contact-list li:first-child {
  border-top: 0;
}

.contact-list__name {
  font-size: 14px;
  margin: 0 15px 5px 0;
  flex-basis: 20%;
}

.contact-list__email {
  font-size: 13px;
  flex-basis: 20%;
}

.contact-list__phone {
  font-size: 13px;
}

.contact-list__actions {
  margin-left: auto;
}
.contact-list__actions button {
  margin-left: 5px;
}
